# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/LogisticMap.pdb
LogisticMap/x64/Debug/vc143.pdb
LogisticMap/x64/Debug/vc143.idb
LogisticMap/x64/Debug/LogisticMap.tlog/link.read.1.tlog
LogisticMap/x64/Debug/LogisticMap.ilk
.vs/LogisticMap/v17/DocumentLayout.json
.vs/LogisticMap/v17/DocumentLayout.backup.json
.vs/LogisticMap/v17/Browse.VC.opendb
.vs/LogisticMap/v17/Browse.VC.db-wal
.vs/LogisticMap/v17/Browse.VC.db-shm
.vs/LogisticMap/v17/Browse.VC.db
.vs/LogisticMap/v17/.suo
.vs/LogisticMap/FileContentIndex/5b7bf0f5-2acb-4596-bddf-eb8b15447559.vsidx
.vs/LogisticMap/FileContentIndex/5111a2e4-ac4b-4428-bdd1-0bc2ac0fb0d1.vsidx
x64/Debug/LogisticMap.pdb
LogisticMap/x64/Debug/vc143.pdb
LogisticMap/x64/Debug/vc143.idb
LogisticMap/x64/Debug/LogisticMap.tlog/link.read.1.tlog
LogisticMap/x64/Debug/LogisticMap.ilk
.vs/LogisticMap/v17/DocumentLayout.json
.vs/LogisticMap/v17/DocumentLayout.backup.json
.vs/LogisticMap/v17/Browse.VC.db
.vs/LogisticMap/v17/.suo
.vs/LogisticMap/FileContentIndex/5b7bf0f5-2acb-4596-bddf-eb8b15447559.vsidx
x64/Debug/LogisticMap.pdb
/x64
/.vs
/.vs
.vs/LogisticMap/v17/DocumentLayout.backup.json
.vs/LogisticMap/v17/DocumentLayout.json
.vs/LogisticMap/v17/Browse.VC.db
/.vs
